:root {
  --verde-mais-escuro: #173A2B;
  --verde-escuro: #133627;
  --cor-clara: #f8f9fa;
  --cor-escura: #343a40;
  --texto-claro: #ffffff;
}

.wedding-text {
  font-family: 'Dancing Script', cursive;
  color: var(--verde-mais-escuro); /* Verde mais escuro */
}

.body-text {
  font-family: 'Roboto', sans-serif;
  color: var(--cor-escura); /* Tom mais escuro */
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.modal-image-container {
  overflow: hidden;
  max-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.text-success {
  color: #28a745;
}

.text-danger {
  color: #dc3545;
}

.font-cursive {
  font-family: 'Cursive';
  color: var(--verde-mais-escuro);
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-size-1-2em {
  font-size: 1.2em;
}

.font-size-1-1em {
  font-size: 1.1em;
}

.font-size-0-9em {
  font-size: 0.9em;
}

.bg-olive {
  background-color: var(--verde-mais-escuro);
}

.text-olive {
  color: var(--verde-mais-escuro);
}

.btn-outline-olive {
  color: var(--verde-mais-escuro);
  border-color: var(--verde-mais-escuro);
}

.btn-outline-olive:hover {
  background-color: var(--verde-mais-escuro);
  color: #fff;
}

.bg-textura {
  background-size: cover;
  background-repeat: no-repeat;
}
