:root {
  --color-primary: #173A2B;
  --color-secondary: #343a40;
}

.text-title {
  font-family: 'Dancing Script', cursive;
};

.text-primary {
  color: var(--color-primary) !important;
}

.text-secondary {
  color: var(--color-secondary);
}

.bg-primary {
  background-color: var(--color-primary) !important
}

.bg-secondary {
  background-color: var(--color-secondary);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color-secondary)
}

.bg-texture {
  background-image: url('./textura.png');
  background-size: auto;
  background-repeat: repeat;
}

.outline-button {
  border: 2px solid var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.outline-button:hover {
  background-color: var(--color-primary);
  color: #fff;
}
